{%- if is_link -%}
    <a {% if attr is not empty -%}{%- for key, attribute in attr -%}{{- key -}}="{{- attribute -}}"{%- if not loop.first or not loop.last %} {% endif -%}{%- endfor -%}{%- else -%}href="#" data-toggle="modal" data-target="#{{- target -}}"{%- endif -%}>
        <span class="text-{{ context }}">
{% else %}
    <button {% if attr is not empty -%}{%- for key, attribute in attr -%}{{- key -}}="{{- attribute -}}"{%- if not loop.first or not loop.last %} {% endif -%}{%- endfor -%}{%- else -%}type="button"{% if 'class' not in attr|keys %} class="btn btn-{{- context -}}{% endif %}" data-toggle="modal" data-target="#{{- target -}}"{%- endif -%}>
{%- endif -%}
{%- if escape -%}
    {%- if translate -%}
        {{- label|trans(translation_parameters, translation_domain) -}}
    {%- else -%}
        {{- label -}}
    {%- endif -%}
{%- else -%}
    {%- if translate -%}
        {{- label|trans(translation_parameters, translation_domain)|raw -}}
    {%- else -%}
        {{- label|raw -}}
    {%- endif -%}
{%- endif -%}
{%- if is_link -%}
        </span>
    </a>
{%- else -%}
    </button>
{%- endif -%}
